<!-- HEADER -->
<table class="head-wrap" bgcolor="#FFFFFF">
<tr>
<td></td>
<td class="header container" >
<div class="content">
<table bgcolor="#FFFFFF">
<tr>
<td><img src="https://s3-ap-northeast-1.amazonaws.com/btoa-img/common/logo_200x50.png" /></td>
</tr>
</table>
</div>
</td>
<td></td>
</tr>
</table><!-- /HEADER -->

<!-- BODY -->
<table class="body-wrap">
<tr>
<td></td>
<td class="container" bgcolor="#FFFFFF">
<div class="content">
<table>
<tr>
<td>
<p class="lead">
<%= @user[:name] %>さん<br>
ようこそ！Prizyへ。<br>
Prizyは毎日の仕事でのやりがいや達成感を最大化するツールです。<br>
Prizy上では、あなたが仕事や会社のために頑張った分だけ、<br>
一緒に働く仲間からちょっとしたボーナスをもらえます。<br>
もらったポイントは様々な素敵なプレゼントに交換可能！<br>
あなたも彼らのいいところを見つけ、ちょっとしたボーナスを贈ってみましょう！<br><br>
初回のログインはコチラから！<br>
登録したメールアドレスとパスワードでログインを行ってください。
</p>
<p>
------------------------------------------<br>
E-mail: <%= @user[:email] %><br>
Password: <%= @user[:password] %><br>
------------------------------------------<br><br>
引き続きPrizyをよろしくお願いいたします。<br><br>Prizy運営事務局</p>
<!-- Callout Panel -->
<p style="padding:15px;background-color:#ECF8FF;margin-bottom:15px;">
    褒める文化形成プラットフォーム <a href="http://prizy.me/">Prizy &raquo;</a>
</p>
</td>
</tr>
</table>
</div><!-- /content -->		
</td>
<td></td>
</tr>
</table><!-- /BODY -->
