<pre>
こんにちは！<%= @user[:receiver] %>さん

<%= @user[:giver] %>さんよりあなたにボーナスが届きました。
今すぐ、<b><a href="<%= @user[:prizy_url] %>">チェック</a></b>してみましょう！
お礼のコメントもお忘れなく☆

引き続きPrizyをよろしくお願いいたします。


Prizy 運営事務局
</pre>

