<table class="head-wrap" bgcolor="#FFFFFF">
<tr>
<td></td>
<td class="header container" >

<div class="content">
<table bgcolor="#FFFFFF">
<tr>
<td><img src="https://s3-ap-northeast-1.amazonaws.com/btoa-img/common/logo_200x50.png" /></td>
</tr>
</table>
</div>

</td>
<td></td>
</tr>
</table><!-- /HEADER -->


<!-- BODY -->
<table class="body-wrap">
<tr>
<td></td>
<td class="container" bgcolor="#FFFFFF">

<div class="content">
<table>
<tr>
<td>
<h3>こんにちは！</h3>
<p class="lead">Prizy運営事務局です。<br> 再設定用のパスワードは下記の通りです。<br><a href="<%= @user[:prizy_url] %>">コチラ</a>よりログインいただけます。<br> なお、ログイン後、ご自身の覚えやすいパスワードをサイド設定いただきますようよろしくお願い申し上げます。</p>
<p>
-------------------------------------<br>
Password: <%= @user[:password] %><br>
-------------------------------------<br>
</p>

<p>なお、このメールに心当たりがない場合は、<br>
恐れ入りますがメールを削除していただけますよう、<br>
よろしくお願いいたします。<br>
</p>

<p>引き続きPrizyをよろしくお願いいたします。<br><br>Prizy運営事務局</p>
<!-- Callout Panel -->
<p style="padding:15px;background-color:#ECF8FF;margin-bottom:15px;">
  褒める文化形成プラットフォーム <a href="http://prizy.me/">Prizy &raquo;</a>
</p>
</td>
</tr>
</table>
</div><!-- /content -->

</td>
<td></td>
</tr>
</table><!-- /BODY -->
