<pre>
こんにちは！<%= @user[:name] %>さん

おめでとうございます！
申請中のポイントの交換が承認されました。
<b><a href="<%= @user[:prizy_url] %>">コチラ</a></b>よりステータスを確認できます。

また、Amazonギフト券、Starbucksチケットを申請された方には、Prizy運営事務局より別途メールが届きます。

引き続きPrizyをよろしくお願いいたします。


Prizy 運営事務局
</pre>
