<p>Hello Valued Perker!</p>
<p>You have been registered to use our services by your company, <%= @user[:company_name] %>.</p>
<p>You can login with your company e-mail and this password: <%= @user[:password] %></p>
<p>Kindly <a href="http://localhost:3000/login"><b>visit our site</b></a> and proceed with the registration details.</p>

<p>Thank you very much!</p>
