<% if @teams.present? %>
  <% @team_lists.each do |team| %>
    <div class="team_list_div">
      <li><%= team[:team_name] %></li>
      <% team[:members].each do |member| %>
        <% @list_user = User.find(member) %>
        <li class="team_list team_member"><%= link_to "#{@list_user.lastname} #{@list_user.firstname}", "/analytics/user/#{@list_user.id}" %></li>
      <% end %>
    </div>
  <% end %>
<% else %>
  <% @users_custom.each do |user| %>
    <li><%= link_to "#{user.name}", "/analytics/user/#{user.id}" %></li>
  <% end %>
<% end %>