<%if @user_login == 1 %>
  <%= render "shared/header"%>
<% else %>
  <%= render "landingheader" %>
<% end %>

<div class="contact_top">
<div class="terms_wrapper" style="text-align:center;">
<h2>お問い合わせ</h2>
<p class="c_align notice">
<% if flash[:notice] %><p class="c_align notice"><b><i><%= flash[:notice] %></i></b></p><% end %>
<%= form_tag("/contact/complete") do %>
  <dl>
    <div class="contact_wrapper">
      <dt class="contact_float_left">企業名</dt>
      <dt class="contact_required">必須</dt>
      <dt class="contact_float_right">
        <input type="text" value="" name="company" required class="contact_input"/>
      </dt>
      <div class="clearfix"></div>
    </div>
    <div class="landing_clearfix"></div>

    <div class="contact_wrapper">
      <dt class="contact_float_left">お名前</dt>
      <dt class="contact_required">必須</dt>
      <dt class="contact_float_right">
        <input type="text" value="" name="name" required class="contact_input"/>
      </dt>
      <div class="clearfix"></div>
    </div>
    <div class="landing_clearfix"></div>

    <div class="contact_wrapper">
      <dt class="contact_float_left">メールアドレス</dt>
      <dt class="contact_required">必須</dt>
      <dt class="contact_float_right">
        <input type="text" id="mail_address" value="" name="email" required class="contact_input"/>
      </dt>
      <div class="clearfix"></div>
    </div>
    <div class="landing_clearfix"></div>
    
    <div class="contact_wrapper">
      <dt class="contact_float_left">お問い合わせ内容</dt>
      <dt class="contact_required">必須</dt>
      <dt class="contact_float_right">
        <textarea name="text" class="contact_textarea" required="required"/></textarea>
      </dt>
      <div class="landing_clearfix"></div>
    </div>
  </dl>
  <div class="landing_clearfix"></div>
  
  <p><input type="submit"  value="" class="user_update_submit"/></p>
<% end %>

</div>
</div>

<script>
  $(document).on("click", ".price_landing_header_right", function(){
    if($('.price_landing_header_ul').hasClass("landing_click")){
      $('.price_landing_header_ul').removeClass("landing_click");
      $('.price_landing_header').addClass("price_all_landing_click");
    } else {
      $('.price_landing_header_ul').addClass("landing_click");
      $('.price_landing_header').removeClass("price_all_landing_click");
    }
  });

  $("#landing_underline").css("border-bottom", "2px solid white");

var mail_address = document.getElementById("mail_address");

$('.user_update_submit').click(function(){
  input = $("#mail_address").val();
  if (input.match(/@/)) {
  } else {
    $(".notice").text("不正なメールアドレスです。");
    return false;
  }
})


</script>