<%if @user_login == 1 %>
  <%= render "shared/header"%>
<% else %>
  <%= render "landingheader" %>
<% end %>

<div class="privacy_top">
<div class="privacy_wrapper">
<h2>プライバシーポリシー（Privacy Policy）</h2>

<h3>個人情報の収集と範囲 (Types of Information We Collect)</h3>
<p>当社は、以下の情報を、個人情報として厳重に取り扱うものとします。<br>
当社は利用者が本サイトに登録する際に、個人を特定する情報（１）を取得するものとします。また、当社は利用者による本サイト利用において、第1条（２）、（３）で定められた情報を取得するものとします。<br><br>
（１）本サイトに利用登録する際に入力する、氏名、電子メールアドレス、生年月日、役職などの個人を特定する情報<br>
（２）本サイトの利用にあたり、利用者が発信した情報、利用者が本サイト上で行ったポイント交換の情報などの個人に関する情報<br>
（３）本サイトの利用時に利用しているブラウザや、インターネットプロトコル（IP）アドレスなど個人を特定しない情報<br><br>

We collect Personal Information (following three types of information about our Site Users) ;<br>
（１） Personally Identifiable Information, which identify each specific user. We collect personally identifiable information when you create an account and provide us your personal information such as your first name and last name, e-mail address, birthday and position in your company.<br>
（２） Personal Activity Information, which we collect when you use our site. Personal Activity Information includes posts and comments which you make, posts and comments which you get, and gifts which you get by redeeming your points.<br>
（３） Non-Personally Identifiable Information, which does not identify any specific user. Non-Personally Identifiable Information includes the type of browser you are using when you visit our site, and your Internet Protocol (IP) address.</p>


<h3>個人情報の利用について (Use of Personal Information)</h3>
<p>当社では、利用者の個人情報を下記の範囲で利用するものとします。<br>
（１）当社が、本サイトのサービスを提供するために必要な場合<br>
（２）当社が、本サイトのサービスを改善する上で統計データとして必要な場合<br><br>

We use Personal Information for the following purposes; <br>
（１） To provide great service on our site<br>
（２） To analyze trends, demographic information, and user action to improve our service </p>


<h3>個人情報の提供 (Release of Personal Information)</h3>
<p>当社は、利用者から取得した個人情報を、以下のいずれかに該当する場合をのぞき、あらかじめ利用者本人の同意を得ることなく、第三者に対して提供・委託しないものとします。<br>
（１）本サイトのサービスを提供するために、一部の業務を第三者に委託する場合<br>
（２）人の生命、身体または財産の保護のために必要がある場合であって、ユーザー本人の同意を得ることが困難であると判断した場合<br>
（３）国の機関もしくは地方公共団体又はその委託を受けた者が法令の定める事務を遂行することに対して協力する場合であって、ユーザーの同意を得ることによって当該事務の遂行に支障を及ぼす恐れがある場合<br>
（４）その他、個人情報保護法その他の法令で認められる場合<br><br>

We will not share, sell or trade any of your Personal Information except as provided below; <br>
（１） We may share your Personal Information with Third party companies, such as Slack, in case we conclude it is necessary to improve our service. If we do it, we will inform you on our site and by email.<br>
（２）We may share your Personal Information for our protection and protection of others.<br>
（３） We may share your Personal Information when the government and other third parties which the government entrusts require us to provide by law and ordinance.<br>
（４） We may share your Personal Information when we are required by law.</p>


<h3>個人情報の管理 (Security of Personal Information)</h3>
<p>当社では、利用者から取得した個人情報について、漏洩、減失、毀損等がないように適切に管理するものとし、以下に規定する事項を噂守するものとします。<br>
（１）利用者から取得した個人情報を第三者が提供するサーバー内において管理するものとします。<br>
（２）第１条（１）で定める個人を特定する情報は、利用者本人のみが知るパスワードをもってのみアクセスできるものとし、パスワードは暗号化し管理するものとします。<br><br>

We regard Personal Information as most important and take it seriously. Mainly we have the following protections described blow; <br>
（１） Personal Information we collect is stored in the safe server which Amazon Web Service provides.<br>
（２） You can access your Personal Information on our site through your email address and password you set. This password is encrypted.</p>


<h3>プライバシーポリシーの変更</h3>
<p>当社は、プライバシーポリシーを適宜見直し、継続的な改善につとめ、必要に応じて、本ポリシーを変更することがあり、変更した場合にはユーザーに通知又は、当ページにて公表します。<br><br>

We continue to improve our service and in-need we modify our privacy policy. If we decide to change our privacy policy, we will post those changes to this privacy policy statement and inform you by email. </p>


<h3>個人情報管理責任者</h3>
<p>ユーザーの個人情報は、以下の者が責任をもって管理するものとします。<br>
株式会社BtoA<br>
代表取締役CEO<br>
石原史章<br><br>

The following is responsible for any personal information.<br>
BtoA Co..Ltd.<br>
CEO Fumiaki ishihara</p>

<h3>お問い合わせ窓口</h3>
<p>会社名：株式会社BtoA<br>
所在地：東京都品川区東品川2-2-28 タチバナビル2階<br>
E-mail：info@btoa-company.com<br><br>

If you have any questions or concerns, you can contact us at<br>
BtoA Co..Ltd.<br>
2F, Tachibana-Building, 28, 2Ban, 2Chome, Higashi-Shinagawa, Shinagawa, Tokyo, Japan<br>
info@btoa-company.com</p>
</div>
</div>

<script>
  $(document).on("click", ".price_landing_header_right", function(){
    if($('.price_landing_header_ul').hasClass("landing_click")){
      $('.price_landing_header_ul').removeClass("landing_click");
      $('.price_landing_header').addClass("price_all_landing_click");
    } else {
      $('.price_landing_header_ul').addClass("landing_click");
      $('.price_landing_header').removeClass("price_all_landing_click");
    }
  });

  $("#landing_underline").css("border-bottom", "2px solid white");

</script>