# SSL terminate on ELB, then forward decrypted request to NginX
option_settings:
  aws:elbv2:listener:443:
    DefaultProcess: https
    ListenerEnabled: true
    Protocol: HTTPS
    SSLCertificateArns: arn:aws:acm:us-west-2:254772566290:certificate/08ab1ded-65a5-4dd9-b0ca-26464893679d
  aws:elasticbeanstalk:environment:process:https:
    Port: 80
    Protocol: HTTP
