# SSL terminate on ELB, then forward decrypted request to NginX
option_settings:
  aws:elbv2:listener:443:
    DefaultProcess: https
    ListenerEnabled: true
    Protocol: HTTPS
    SSLCertificateArns: arn:aws:acm:us-west-2:254772566290:certificate/348084cc-674f-483e-906d-d39e9d0868dd
  aws:elasticbeanstalk:environment:process:https:
    Port: 80
    Protocol: HTTP
