# SSL terminate on ELB, then forward decrypted request to NginX
option_settings:
  aws:elbv2:listener:443:
    DefaultProcess: https
    ListenerEnabled: true
    Protocol: HTTPS
    SSLCertificateArns: arn:aws:acm:us-west-2:254772566290:certificate/9101545a-45fe-410a-99cb-567e28f1e6c7
  aws:elasticbeanstalk:environment:process:https:
    Port: 80
    Protocol: HTTP
