commands:
  00_set_time_zone:
    command: ln -f -s /usr/share/zoneinfo/Japan /etc/localtime
  01_node_get:
    cwd: /tmp
    test: 'version=`node -v`; [ ${version:1:1} -lt 8 ] && echo "Node version < 8"'
    command: 'curl --silent --location https://rpm.nodesource.com/setup_8.x | bash -'

  02_node_install:
    cwd: /tmp
    test: 'version=`node -v`; [ ${version:1:1} -lt 8 ] && echo "Node version < 8"'
    command: 'yum -y install nodejs'
