.analytics_holder
  .analytics_time_select
    .clearfix
  = render '/analytics/analytics'
  .analytics_container{ style: "float: left; width: 80%; background-color: white; margin-bottom: 30px;" }
    .analytics_holder.toolbox.width-100-percent#admin_contents
      %h3{ style: "padding-left: 10px; margin: 10px;" } 2018/04/15の投票結果
      %h4{ style: "padding-left: 20px; line-height: 1.8em;"} 質問内容: 今週あなたのチームで最も活躍した人は誰ですか？
      %h4{ style: "padding-left: 20px; line-height: 1.8em;"}  現在の部署ごとの投票率