<div id="wrapper">
<div id="contents">
  <% if flash[:notice] %><p class="c_align notice"><%= flash[:notice] %></p><% end %>
  <%= form_tag( "/forgot_password/submit", method: "post", id: "login_form" ) do %>
  <div class="center"><br>
    <p class="c_align">パスワードをリセットするため、メールアドレスを入力してください</p><br>
    <p class="c_align"><input type="email" value="" name="email" size="40" required />  <input type="submit" value="送信" class="btn" /></p><br>
  </div>  
  <% end %>
</div> <!-- contents -->
</div> <!-- wrapper -->
