<div id="wrapper">
<div id="contents">
  <% if flash[:notice] %><p class="c_align notice"><%= flash[:notice] %></p><% end %>
  <%= form_tag( "/login/complete", method: "post", id: "login_form" ) do %>
  <div id="login_box" class="center">
    <h3 class="c_align">User Login</h3><br>
    <table class="center">
      <tr>
	<td><b>メールアドレス: </b></td>
	<td><input type="text" value="" name="email" size="30" required /></td>
      </tr>
      <tr>
	<td><b>パスワード: </b></td>
	<td><input type="password" value="" name="password" size="30" required /></td>
      </tr>
      <tr>
	<td class="btn r_align" colspan="2">
	  <br><input type="submit" value="Login" class="btn" />
	</td>
      </tr>	
    </table>
  </div><br><br>
  <% end %>
</div> <!-- contents -->
</div> <!-- wrapper -->
