<div id="wrapper">
<div id="contents">
  <% if flash[:notice] %><p class="c_align notice"><%= flash[:notice] %></p><% end %>
  <%= form_tag( "/login/complete", method: "post", id: "login_form" ) do %>
  <div id="login_box" class="center toolbox">
    <h3 class="c_align">ユーザーログイン</h3><br>
    <table class="center tbl_tools">
      <tr>
	<td><br><b>メールアドレス: </b></td>
	<td><input type="text" value="" name="email" size="30" required /></td>
      </tr>
      <tr>
	<td><b>パスワード: </b></td>
	<td><input type="password" value="" name="password" size="30" required /></td>
      </tr>
      <tr>
	<td align="center" class="btn" colspan="2" style="background-color:#fff">
	  <input type="submit" value="ログイン" class="btn" />
	</td>
      </tr>	
    </table>
  </div><br><br>
  <% end %>
</div> <!-- contents -->
</div> <!-- wrapper -->
