<% if request.path.include?("analytics")%>
<div id="header_analytics">
  <div class="contents">
    <div class="menu_panel">
      <ul class="main_menu_analytics">
  <li class="logo"><a href="<% if request.path.include?("analytics") %>/company<% else %>/<% end %>"><img src="https://s3-ap-northeast-1.amazonaws.com/btoa-img/common/logo_pc.png"/></a></li>
      </ul>
    </div>
<% else %>
<div id="header">
  <div class="contents">
    <div class="menu_panel">
      <ul class="main_menu">
	<li class="logo"><a href="<% if request.path.include?("company") %>/company<% else %>/<% end %>"><img src="https://s3-ap-northeast-1.amazonaws.com/btoa-img/common/logo_pc.png"/></a></li>
      </ul>
    </div>
<% end %>

    <% if session[:id] || cookies[:id] %>
      <div class="menu">
	<p align="center">
	  <% if @current_user.present? %>
	    <% if @current_user.admin == 1 %>
	      <a href="/company">管理画面</a>
	    <% end %>
	  <% end %>
	  <a href="/user">タイムライン</a>
	  <a href="/profile">マイページ</a>
	  <a href="/rewards">ギフト</a> 
	  <a href="/logout">ログアウト</a>
	</p>
      </div>
      <div class="sp_menu">
	<div class="sp_dropdown dropdown">
	  <input type="image" class="sp_dropbtn dropbtn" src="<%= @s3_url + '/common/gnav.png'
	  %>"/>
	  <div class="sp_dropdown_content dropdown-content">
	    <% if @current_user.present? %>
	      <% if @current_user.admin == 1 %>
		<a href="/company">管理画面</a>
	      <% end %>
	    <% end %>
	    <a href="/user">タイムライン</a>
	    <a href="/profile">マイページ</a>
	    <a href="/rewards">ギフト</a>
	    <a href="/logout">ログアウト</a>
	  </div>
	</div>
      </div>
    <% end %>
 </div>   
</div> <!-- header -->

<script>
$(".sp_dropbtn").click(function() {
  $(".sp_dropdown_content").toggle();
});
</script>
