%table.mail_form.width-100-percent.l_align{ style: "margin: 20px auto 0px;" }
  %tr
    %td 配信予定日
    %td
      %input{ type: "date", name: "date", style: "height: 35px;border: none;border:none;border-bottom: 1px solid #e5e5e5;font-size: 16px;padding: 7px;", autofocus: "on", placeholder: "配信するメールの件名を記入してください", required: "true", value: vote.date }
  %tr
    %td 件名
    %td
      %input.width-100-percent{ type: "text", name: "title", style: "height: 35px;border: none;border:none;border-bottom: 1px solid #e5e5e5;font-size: 16px;padding: 7px;", autofocus: "on", placeholder: "配信するメールの件名を記入してください", required: "true", value: vote.title }
  %tr
    %td ヘッダー画像
    %td
      %input{ type: "file", name: "header_image_url", value: vote.header_image_url }
      %p.font-size-12 ※編集する際は、ヘッダー画像の再アップロードが必要です
  %tr
    %td{ style: "vertical-align:top;" }質問内容
    %td
      %textarea.width-100-percent{ name: "question", rows: "2", style: "border: none;resize: none;border: 1px solid #e5e5e5;font-size: 16px;color:black;padding: 7px;margin-top: 10px;", placeholder: "質問内容を記入してください", required: "true" }= vote.question
  %tr
    %td
    %td
      %div{ style: "float:right;" }
        %input{ type: "submit", name: "submit", value: "投票を作成する", style: "text-align: center;font-size: 14px; cursor: pointer;", data: {confirm: "この内容で投票を作成しますか？"} }

