#admin_wrapper
  .width-100-percent#admin_contents
    %h3.c_align メール内容の確認
    %div.width-50-percent{ style: "margin: 30px auto; border: 1px solid gray; min-height: 300px; padding: 10px;" }
      %table.width-90-percent
        %tr
          %td.width-20-percent 配信予定日
          %td= params[:date]
        %tr
          %td.width-20-percent{ style: "line-height: 4em;" } 件名
          %td= params[:title]
        %tr
          %td.width-20-percent 内容
          %td
            %img.width-50-percent{ src: "https://btoa-img.s3-ap-northeast-1.amazonaws.com/company/banner_no_image" }
            %br
            %br
            %h4= params[:question]
            %br
            %br
            .width-100-percent.clearfix{ style: "margin: 0 auto;"}
              .width-30-percent.float_left
                %img.width-30-percent{ src: "https://s3-ap-northeast-1.amazonaws.com/prizy/common/noimg_pc.png"}
                %br
                %h4 山田太郎
                %br
                人事部
                %br
                %span.color-white{style: "background-color: #009DBF; padding: 5px; display: inline-block;" }
                  投票する
              .width-30-percent.float_left
                %img.width-30-percent{ src: "https://s3-ap-northeast-1.amazonaws.com/prizy/common/noimg_pc.png" }
                %br
                %h4 佐藤二朗
                %br
                人事部
                %br
                %span.color-white{style: "background-color: #009DBF; padding: 5px; display: inline-block;" }
                  投票する
              .width-30-percent.float_left
                %img.width-30-percent{ src: "https://s3-ap-northeast-1.amazonaws.com/prizy/common/noimg_pc.png" }
                %br
                %h4 鈴木三郎
                %br
                人事部
                %br
                %span.color-white{style: "background-color: #009DBF; padding: 5px; display: inline-block;" }
                  =link_to "投票する", voted_admin_votes_path, {style: "color: white; text-decoration:	none;"}