.analytics_holder
  .analytics_time_select
    .clearfix
  = render '/analytics/analytics'
  .analytics_container.c_align{ style: "float: left; width: 80%; background-color: white; margin-bottom: 30px;" }
    .analytics_holder.toolbox.width-100-percent#admin_contents
      %h3{ style: "margin: 10px;" } 投票一覧
      %table.tbl_tools.width-90-percent{ border: "1" }
        %tr
          %th 配信日
          %th タイトル
          %th 質問内容
          %th 回答者数
          %th 回答率
        %tr
          %td.width-8-percent{ style: "word-break: break-all;" } 2018/04/15
          %td.width-10-percent{ style: "word-break: break-all;" } 2018/04/15の投票
          %td.width-30-percent{ style: "word-break: break-all;" } 今週あなたのチームで最も活躍した人は誰ですか？
          %td.width-10-percent{ style: "word-break: break-all;" } 200/1000
          %td.width-10-percent{ style: "word-break: break-all;" } 20.0%
        %tr
          %td.width-8-percent{ style: "word-break: break-all;" } 2018/04/08
          %td.width-10-percent{ style: "word-break: break-all;" } 2018/04/08の投票
          %td.width-30-percent{ style: "word-break: break-all;" } 今週あなたのチームで最も活躍した人は誰ですか？
          %td.width-10-percent{ style: "word-break: break-all;" } 150/1000
          %td.width-10-percent{ style: "word-break: break-all;" } 15.0%
        %tr
          %td.width-8-percent{ style: "word-break: break-all;" } 2018/04/01
          %td.width-10-percent{ style: "word-break: break-all;" } 2018/04/01の投票
          %td.width-30-percent{ style: "word-break: break-all;" } 今週あなたのチームで最も活躍した人は誰ですか？
          %td.width-10-percent{ style: "word-break: break-all;" } 100/1000
          %td.width-10-percent{ style: "word-break: break-all;" } 10.0%