#admin_wrapper
  = render "/company/admin_subheader"
  .width-100-percent#admin_contents
    .width-40-percent{ style: "margin: 0 auto;" }
      .l_align.padding-top-20=link_to "配信予定の投票一覧", admin_votes_path
      .c_align.font-size-16{ style: "font-weight: bold;" } 投票を作成する
      - if flash[:notice]
        %p.c_align.notice{ style: "color: red;margin: 20px;" }%b%i = flash[:notice]
      =render partial: "form", locals: { vote: @vote }

