#admin_wrapper
  = render "/company/admin_subheader"

  .width-100-percent#admin_contents
    %img.width-80-percent.c_align{ src: "https://s3-ap-northeast-1.amazonaws.com/prizy/common/prizy_voted_image.png", style: "margin-left: 150px; margin-top: 20px;" }