<table class="head-wrap" bgcolor="#FFFFFF">
<tr>
<td></td>
<td class="header container" >

<div class="content">
<table bgcolor="#FFFFFF">
<tr>
<td><img src="https://s3-ap-northeast-1.amazonaws.com/btoa-img/common/logo_200x50.png" /></td>
</tr>
</table>
</div>

</td>
<td></td>
</tr>
</table><!-- /HEADER -->


<!-- BODY -->
<table class="body-wrap">
<tr>
<td></td>
<td class="container" bgcolor="#FFFFFF">

<div class="content">
<table>
<tr>
<td>
<h3>こんにちは！<%= @data[:user].try(:lastname) %>さん</h3>
<br/>
<p>
★身近過ぎて忘れていた「ありがとう」 をもう一度
<br/>
<br/>
あなたの身近な人を勝手にレコメンドして、<br/>
ココロのビタミンを贈りあうウィークリー企画、<br/>
今週の勝手にレコメンドをお送りします。<br/>
※このレコメンドは、あなたと同じ部署を中心に身近な人がレコメンドされてきますが、<br/>
　アルゴリズム学習中により、あまりにも知らない人ばかりでてきたら教えてくださいm（＿）m<br/>
<br/>
今週は、こちらのみなさんにメッセージを贈ってみては<br/>
いかがでしょうか。<br/>
<br/>
<% @data[:target].each do |team, user| %>
＋＋＋＋＋＋<br/>
<% if team %>
<% if team.department.present? %>
<%= "#{team.department.try(:dep_name)}/" "#{team.team_name}" %><br/>
<% else %>
<%= "#{team.team_name}" %><br/>
<% end %>
<% end %>
<%= link_to "#{user.try(:lastname)}#{user.try(:firstname)}", "https://www.prizy.me/profile/given?user_id=#{user.id}" %><br/>
<% end %>
＋＋＋＋＋＋<br/>
<br/>
今週も、ステキな1週間になりますように！<br/>
<br/>
----------------------------- <br/>
Prizy事務局<br/>
-----------------------------<br/>
</p>
</td>
</tr>
</table>
</div><!-- /content -->

</td>
<td></td>
</tr>
</table><!-- /BODY -->
