<table class="head-wrap" bgcolor="#FFFFFF">
<tr>
<td></td>
<td class="header container" >

<div class="content">
<table bgcolor="#FFFFFF">
<tr>
<td><img src="https://s3-ap-northeast-1.amazonaws.com/btoa-img/common/logo_200x50.png" /></td>
</tr>
</table>
</div>

</td>
<td></td>
</tr>
</table><!-- /HEADER -->


<!-- BODY -->
<table class="body-wrap">
<tr>
<td></td>
<td class="container" bgcolor="#FFFFFF">

<div class="content">
<table>
<tr>
<td>
<h3>こんにちは！<%= username %>さん</h3>
<br/>
<p>
★身近過ぎて忘れていた「ありがとう」 をもう一度
<br/>
<br/>
あなたの身近な人を勝手にレコメンドして、<br/>
ココロのビタミンを贈りあうウィークリー企画、<br/>
今週の勝手にレコメンドをお送りします。<br/>
※このレコメンドは、あなたと同じ部署を中心に身近な人がレコメンドされてきますが、<br/>
　アルゴリズム学習中により、あまりにも知らない人ばかりでてきたら教えてくださいm（＿）m<br/>
<br/>
今週は、こちらのみなさんにメッセージを贈ってみては<br/>
いかがでしょうか。<br/>
<br/>
＋＋＋＋＋＋<br/>
セプテーニ・ホールディングス 人事総務部総務課<br/>
馬野 雅和さん<br/>
<br/>
セプテーニ・ホールディングス　 人事総務部総務課<br/>
川崎 ひとみさん<br/>
<br/>
セプテーニ・ホールディングス　採用企画部<br/>
江崎 修平さん<br/>
＋＋＋＋＋＋<br/>
<br/>
今週も、ステキな1週間になりますように！<br/>
<br/>
----------------------------- <br/>
Prizy事務局<br/>
柴田・江崎・馬野<br/>
-----------------------------<br/>















<p class="lead"><%= @company[:username] %>さんから、ポイントの交換が申請されました。</p>

<p>いますぐ<a href="<%= @company[:prizy_url] %>">コチラ</a>から承認作業を行ってください。<br>(承認作業はすぐ終わります。)<br><br>

引き続きPrizyをよろしくお願いいたします。<br><br>Prizy運営事務局
</p>
<!-- Callout Panel -->
<p style="padding:15px;background-color:#ECF8FF;margin-bottom:15px;">
  褒める文化形成プラットフォーム <a href="http://prizy.me/">Prizy &raquo;</a>
</p>
</td>
</tr>
</table>
</div><!-- /content -->

</td>
<td></td>
</tr>
</table><!-- /BODY -->
