<table class="head-wrap" bgcolor="#FFFFFF">
<tr>
<td></td>
<td class="header container" >

<div class="content">
<table bgcolor="#FFFFFF">
<tr>
<td><img src="https://s3-ap-northeast-1.amazonaws.com/btoa-img/common/logo_200x50.png" /></td>
</tr>
</table>
</div>

</td>
<td></td>
</tr>
</table><!-- /HEADER -->


<!-- BODY -->
<table class="body-wrap">
<tr>
<td></td>
<td class="container" bgcolor="#FFFFFF">

<div class="content">
<table>
<tr>
<td>
<h3>こんにちは！<%= @company[:owner] %>さん</h3>
<p class="lead"><%= @company[:username] %>さんから、ポイントの交換が申請されました。</p>

<p>いますぐ<a href="<%= @company[:prizy_url] %>">コチラ</a>から承認作業を行ってください。<br>(承認作業はすぐ終わります。)<br><br>

引き続きPrizyをよろしくお願いいたします。<br><br>Prizy運営事務局
</p>
<!-- Callout Panel -->
<p style="padding:15px;background-color:#ECF8FF;margin-bottom:15px;">
  褒める文化形成プラットフォーム <a href="http://prizy.me/">Prizy &raquo;</a>
</p>
</td>
</tr>
</table>
</div><!-- /content -->

</td>
<td></td>
</tr>
</table><!-- /BODY -->
