<pre>
こんにちは！<%= @company[:owner] %>さん

<%= @company[:username] %>さんよりポイントの交換が申請されました。
<b><a href="<%= @company[:prizy_url] %>">コチラ</a></b>より、確認し承認作業を行ってください。
(承認作業はすぐ終わります。)

引き続きPrizyをよろしくお願いいたします。


Prizy運営事務局
</pre>
