.width-100-percent
  %p.c_align= @vote.question
  .width-50-percent
    %img.width-30-percent{ src: "https://btoa-img.s3-ap-northeast-1.amazonaws.com/company/banner_no_image", width: "400px", style: "margin: 0 auto;" }
    .width-100-percent.clearfix{ style: "margin: 0 auto;"}
      - if @info[1][:candidate_ids].present?
        - @info[1][:candidate_ids].each do |id|
          .width-30-percent.float_left
            .width-30-percent
              %img{ src: "https://s3-ap-northeast-1.amazonaws.com/prizy/common/noimg_pc.png" }
            %br/
            .width-100-percent.c_align{ style: "margin: 0 auto;" }
              - if @info[1][:department].present?
                .c_align{ style: "margin: 0 auto;" }=@info[1][:department].try(:dep_name)
                %br
              %h4.c_align{ style: "margin: 0 auto;" }=(@ref_users[id.to_i].lastname =@ref_users[id.to_i].lastname)
              %span.color-white.c_align{ style: "background-color: #009DBF; padding: 5px; display: inline-block;margin: 0 auto;" }
                =link_to "投票する", admin_vote_results_path(user_id: @info[0].id, team_id: @info[1][:team_id], department_id: @info[1][:department].try(:id), vote_id: @vote.id , result: id.to_i ), method: :post, style: "color: white; text-decoration:	none;"

