<div id="wrapper">
<div id="contents">
  <h3 class="c_align">Update Vendor Info</h3>
  <%= form_tag( "/tools/vendors/edit_complete", method: "post" ) do %>
  <input type="hidden" name="id" value="<%= params[:id] %>" />
  <table class="center">
    <tr>
      <td>Vendor Name: </td>
      <td><input type="text" value="<%= @vendor.name %>" name="name" /></td>
    </tr>
    <tr>
      <td>Vendor URL: </td>
      <td><input type="text" value="<%= @vendor.url %>" name="url" width="200"/></td>
    </tr>
      <tr>
	<td>Upgrade Type: </td>
	<td>
	  <label><input type="radio" value="0" name="upgrade" <% if @vendor.upgrade == 0 %> checked <% end %> />Standard</label><br>
	  <label><input type="radio" value="1" name="upgrade" <% if @vendor.upgrade == 1 %> checked <% end %> />Gold</label><br>
	  <label><input type="radio" value="2" name="upgrade" <% if @vendor.upgrade == 2 %> checked <% end %> />Premium</label><br>
	</td>
      </tr>
    <tr>
      <td class="btn r_align" colspan="2">
	<input type="submit" value="Update" class="btn"/>
      </td>
    </tr>	
  </table>
  <% end %>
</div> <!-- contents -->
</div> <!-- wrapper -->
