<div id="wrapper">
<div id="contents">
  <h3 class="c_align">新規登録</h3><br>
  <%= form_tag( "/company/register/complete", method: "post", id: "login_form" ) do %>
  <% if flash[:notice] %><p class="c_align notice"><b><i><%= flash[:notice] %></i></b></p><% end %>
  <div class="toolbox center">
    <table class="center tbl_tools">
      <tr>
	<td>会社名: </td>
	<td><input type="text" name="name" value="" size="30" required /></td>
      </tr>
      <tr>
	<td>会社URL: </td>
	<td><input type="text" name="url" value="" size="30" /></td>
      </tr>
      <tr>
	<td>担当者名: </td>
	<td><input type="text" name="owner" value="" required /></td>
      </tr>
      <tr>
	<td>メールアドレス: </td>
	<td><input type="email" name="email" value="" required /></td>
      </tr>
      <tr>
	<td>パスワード: </td>
	<td><input type="password" name="password" id="passwd1" value="" size="10" required /></td>
      </tr>
      <tr>
	<td>パスワード確認: </td>
	<td>
	  <input type="password" name="password" id="passwd2" value="" size="10" required /><br> 
	  <span class="notice"></span>
	</td>
      </tr>
      <tr>
	<td>電話番号: </td>
	<td><input type="text" name="phone" value="" size="10"/></td>
      </tr>
      <tr>
	<td>会社住所: </td>
	<td><input type="text" name="address" value="" size="30" required /></td>
      </tr>
      <tr>
	<td valign="top">ハッシュタグ: </td>
	<td>
	  <textarea name="hashtags" value="" rows="3" cols="25" placeholder="leadership, hardwork, creativity..."></textarea><br>
	  <span class="instructions">会社のコアバリューを入力してください。<br>複数記入する場合カンマ「,」をご利用ください。</span>
	</td>
      </tr>
      <tr>
	<td class="c_align" colspan="2">
	  <br><input type="submit" value="送信" class="btn" />
	</td>
      </tr>
    </table>
    <p align="center">
      ご登録になる前に下記利用規約をよくご確認ください<br>
      <a href="https://prizy.herokuapp.com/tip/term">https://prizy.herokuapp.com/tip/term</a>
    </p>
  </div><br><br>
  <% end %>
</div> <!-- contents -->
</div> <!-- wrapper -->

<script type="text/javascript">
var passwd1 = document.getElementById("passwd1");
var passwd2 = document.getElementById("passwd2");

function validatePassword(){
  if(passwd1.value != passwd2.value) {
    $(".notice").text("パスワードに誤りがあります");
  } else {
    $(".notice").text("");
  }
}
passwd1.onchange = validatePassword;
passwd2.onkeyup = validatePassword;
</script>
