<div id="wrapper">
<div id="contents">
  <br><h2 class="c_align">ダッシュボード</h2>
  <div class="company">
    <div class="menu">
      <p>
	<a href="/company/details">企業情報</a><br>
	<a href="/company/employees">社員登録・編集</a><br>
	<a href="/company/rewards">プレゼント登録・編集</a><br>
	<a href="/company/rewards/request">プレゼント申請の承認</a><br>
	<a href="/company/bonus">ボーナス登録・編集</a><br>
	<a href="/analytics">利用データ</a><br>
      </p>  
    </div>
  </div><br>
</div> <!-- contents -->
</div> <!-- wrapper -->
