<div id="wrapper">
<div id="contents">
  <h3 class="c_align">Company Index Page</h3><br>
  <div class="center">
    <a href="/company/details">Account Details</a><br>
    <a href="/company/edit">Edit Account</a><br>
    <a href="/company/employees">Add/Remove Employees</a><br>
    <a href="/company/services">Services</a><br>
    <a href="/company/logout">Logout</a><br>
  </div><br><br>
</div> <!-- contents -->
</div> <!-- wrapper -->
