<div id="wrapper">
<div id="contents">
  <h3 class="c_align">Company Page</h3>
  <div class="company">
    <div class="menu">
      <p>
	<a href="/company/details">Account Details</a><br>
	<a href="/company/employees">Manage Employees</a><br>
	<a href="/company/rewards">Customize Rewards</a><br>
	<a href="/company/rewards/request">Manage Rewards Requests</a><br>
	<a href="/company/logout">Logout</a><br>
      </p>  
    </div>
  </div><br>
</div> <!-- contents -->
</div> <!-- wrapper -->
