<div id="admin_wrapper">
  <%= render "/company/admin_subheader" %>

  <div id="admin_contents" class="c_align width-100-percent">
    <div class="float_left width-30-percent" style="text-align: left;padding: 0px 20px;">
      <%= render "sidebar" %>
    </div>
    <div class="float_left width-70-percent" style="text-align: left;padding: 0px 20px;">
      <h3>部署の追加</h3>
      <h3>チームの追加</h3>
      <h3>CSVで部署とチームをまとめて追加する</h3>
    </div>
  </div>
</div>