<div id="admin_wrapper">
  <%= render "/company/admin_subheader" %>

  <div id="admin_contents" class="c_align width-100-percent">
    <div class="float_left width-20-percent" style="text-align: left;padding: 10px 30px;">
      <%= render "sidebar" %>
    </div>
    <div class="float_left width-80-percent" style="text-align: left;padding: 0px 30px;">
      <ul>
        <li><h3><%= link_to "部署を追加する", new_admin_department_path, style: "text-decoration: none;" %></h3></li>
        <li><h3><%= link_to "チームを追加する", new_admin_team_path, style: "text-decoration: none;" %></h3></li>
      </ul>
    </div>
  </div>
</div>