<div id="admin_wrapper">
  <%= render "/company/admin_subheader" %>

  <div id="admin_contents" class="c_align width-100-percent">
    <div class="float_left width-30-percent" style="text-align: left;padding: 0px 20px;">
      <h3>チーム一覧</h3>
      <div style="line-height:1.7em;overflow-y:scroll;height: 420px;margin-top: 20px;">
        <ul>
          <% @deps.each do |dep| %>
            <li><%= dep.dep_name %></li>
              <ul>
                <% dep.teams.each do |team| %>
                  <li><%= link_to team.team_name, edit_admin_team_path(team.id), style: "text-decoration:none;" %></li>
                <% end %>
              </ul>
          <% end %>
        </ul>
      </div>
    </div>
    <div class="float_left width-70-percent" style="text-align: left;padding: 0px 20px;">
    </div>
  </div>
</div>