<div>
<%= form_tag( "/tests/create/complete", method: "post", id: "login_form", multipart: true ) do %>
<table class="center">
  <tr>
    <td>Name: </td>
    <td>
      <textarea name="name" value="" id="inputbox1"></textarea>
    </tr>
  <tr>
    <td>Email: </td>
    <td><input type="text" name="email" value="" /></td>
  </tr>
  <tr>
    <td>Image: </td>
    <td><%= file_field_tag :img_src %></td>
  </tr>
  <tr>
    <td class="btn r_align" colspan="2">
      <br><input type="submit" value="Submit" class="btn_submit" />
    </td>
  </tr>
</table>  
<% end %>
</div>

<script type="text/javascript">
</script>
